@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Shadows+Into+Light&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
.logo {
	display: block;
    margin: auto;
    width: 50px;
    height: 50px;
    padding-top: 2px;
  
}
 h1{
    margin-top: 12px;
    font-size: 30px;
    font-family: "Noto Sans", sans-serif;;
    text-align: center;
 }
.container{
    max-width:955px ;
    border: 2px solid black;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y:auto ;
    margin-bottom:23px ;
    border-radius: 15px;
}
.message{
    background-color: gray;
    opacity: 0.8;
    width: 24%;
    margin: 17px 11px;
    padding: 10px;
    height: 36px;
    border-radius: 12px;
    border: 2px solid black;
}
.left{
float: left;
clear: both;

}
.right{
float: right;
clear: both;
}
#send-container{
    text-align: center;
    max-width: 985px;
    width: 100%;
    display: block;
    margin: auto;
    justify-content: center;
    text-align: center;

}
#messageInp{
    border: 2px solid black;
    width:81%;
    margin: 6px 3px;
    height: 31px;
    border-radius: 10px;
    outline: none;
    font-size: 17px;
}
.btn{
    cursor: pointer;
    border: 2px solid black;
    outline: none;
    border-radius: 6px ;
    height: 36px;
    width: 13%;

}
body{
    background-image:linear-gradient(rgb(225, 223, 227),rgb(121, 51, 177)) ;
    height: 100vh;

}
